/* COMMON RULES */

header, footer, main, div, img, a, h1, h2, h3, h4, h5, p, section, ul, li, input {
	padding: 0;
	margin: 0;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 22.43px;
	font-weight: bold;
}

body {
	background-color: #797979;
}


input {
	outline: none;
}

.wrapper {
	background-image: url(../img/pattern.jpg);
	display: block;
	margin: 0 auto;
	width: 1000px;
}



/* HEADER */
header {
	width: 100%;
}

header>div, header>a {
	background-repeat: no-repeat;
	position: relative;
	vertical-align: top;
}

.logo {
	background-image: url(../img/logo.png);
	width: 154px;
	height: 60px;
	margin: 65px 45px 20px 45px;
	float: left;
}

.logo:after {
	content: "Секретный архив учреждения";
	font-family: 'PT Sans', sans-serif;
	font-size: 10px;
	display: inline-block;
	bottom: 0;
	left: 7px;
	position: absolute;
}

.secretly {
	background-image: url(../img/secretly.png);
	width: 252px;
	height: 106px;
	margin: 47px 55px 40px 55px;
	float: right;
}


/* MAIN CONTENT */
main {
	width: 770px;
	display: block;
	margin: 0 auto;
}

main>.title {
	display: block;
	margin: 0 auto;
	background-image: url(../img/title.png);
	width: 221px;
	height: 118px;
	margin-bottom: 55px;
}

form, .input-wrapper {
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 15px;
}

.input-wrapper>label {
	float: left;
}

.inputbox { 
    padding: 0 5px 0 0;
    overflow: hidden; 
    display: block;
}

.inputbox input { 
	width: 100%; 
	font-family: "Courier New";
	font-size: 30px;
	padding: 0 15px;
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
	position: relative;
	-webkit-border-image: url(../img/underline.png) 0 0 9 0;
	-o-border-image: url(../img/underline.png) 0 0 9 0;
	border-image: url(../img/underline.png) 0 0 9 0;
	border-bottom-width: 9px;
	vertical-align: top;
}

.case .input-wrapper label {
	font-weight: bold;
	margin-right: 15px;
	padding-top: 18px;
}


/* RULES for CUSTOM INPUTS */
ul { 
	list-style: none; 
}

.case input[type="checkbox"],
.case input[type="radio"] {
    display:none;     
    background: rgba(0, 0, 0, 0);       
}

.case input[type="checkbox"] + label, 
.case input[type="radio"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
}

.case input[type="checkbox"] + label::before,
.case input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    margin: 0 5px 0 0;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.case input[type="radio"] + label::before {
	height: 45px;
	width: 41px;
}
.case input[type="checkbox"] + label::before {
	height: 45px;
	width: 24px;
}

.case input[type="checkbox"] + label::before {
    background-position: -101px 0px ;    
}
.case input[type="radio"] + label::before {
    background-position: -1px 0;
}
.case input[type="checkbox"]:checked + label::before {
    background-position: -151px 0px;
}
.case input[type="radio"]:checked + label::before {
    background-position: -50px 0;
}
